<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Doable UMD Gardening</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <br><br>
        <div class = "wrapper">
            <div class = "header">
                <h1>Doable UMD Gardening</h1>
            </div>
            <div class = "section">
                <h2>User</h2>
                <p>Look for plants:</p>
                <button onclick = "window.location.href='/searchPlants'"><a href = "/searchPlants" class = "ba">Explore</a></button>
                <p>Look for gardening tips:</p>
                <button onclick = "window.location.href='/tips'"><a href = "/tips" class = "ba">General Gardening Rules</a></button>
                <br>
            </div>
            <div class = "section dark">
                <h2>About</h2>
                <a href="/aboutUs">About Us</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="/sources">Sources</a>
                <br><br>
            </div>
        </div>
    </body>
</html>
