<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Do-able UMD Gardening</title>
</head>

<body>
	<h1>Do-able UMD Gardening</h1>
	<h2>User</h2>
	To look for plants, click <a href="/searchPlants">explore</a><br>
    To look for gardening tips, click <a href = "/tips">general gardening rule</a><br>
	<hr>

	<h2>About Us</h2>
	<a href="/aboutUs">Here</a><br><br>
    <a href="/sources">Sources</a>
	<hr>
</body>

</html>
