<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Process Search</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body style = "background: #ffffff !important;">
        <br><br>
        <div style = "top: 0px; left: 0px; width: 100%; height: 100%; position: fixed; background-image: url('esjgarden.jpeg'); background-size: cover;"></div>
        <div class = "wrapper wide">
            <div class = "header">
                <h1>Search Results</h1>
            </div>
            <div class = "section" style = "overflow-x: scroll; overflow-y: hidden; height: auto;">
                <p>Results are horizontally scrollable if necessary.</p>
                <%- content%>
            </div>
            <div class = "section dark">
                <p><a href = "/" style = "font-size: 1.125rem">HOME</a></p>
            </div>
        </div>
    </body>
</html>
