<!doctype html>
<html lang="en">
    <head>
        <title>Search Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ontouchstart = "">
        <div class = "fixedbg"></div>
        <br>
        <div class = "wrapper wide">
            <div class = "header">
                <h1>Search Results</h1>
            </div>
            <div class = "section" style = "overflow-x: scroll; overflow-y: hidden; height: auto;">
                <p>Results are horizontally scrollable if necessary.</p>
                <%- content%>
            </div>
            <div class = "section dark">
                <p><a href = "/" style = "font-size: 1.125rem">HOME</a></p>
            </div>
        </div>
        <br>
    </body>
</html>
