<!doctype html>
<html lang="en">
    <head>
        <title>Sources</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ontouchstart = "">
        <div class = "fixedbg"></div>
        <br>
        <div class = "wrapper">
            <div class = "header">
                <h1>Sources</h1>
            </div>
            <div class = "section">
                <ul>
                    <li>https://www.gardeners.com/how-to/basil-indoors/8930.html
                    </li>
                    <li>https://savvygardening.com/how-to-grow-green-onions/
                    </li>
                    <li>https://www.almanac.com/plant/oregano
                    </li>
                    <li>https://www.rhs.org.uk/herbs/oregano/grow-your-own
                    </li>
                    <li>https://www.rhs.org.uk/herbs/parsley/grow-your-own
                    </li>
                    <li>https://www.almanac.com/plant/cilantro-coriander
                    </li>
                    <li>https://www.almanac.com/plant/chives
                    </li>
                    <li>https://www.rhs.org.uk/herbs/rosemary/grow-your-own
                    </li>
                    <li>https://www.rhs.org.uk/herbs/mint/grow-your-own
                    </li>
                    <li>https://www.almanac.com/plant/mint
                    </li>
                    <li>https://www.almanac.com/plant/garlic
                    </li>
                    <li>https://www.almanac.com/plant/aloe-vera
                    </li>
                    <li>https://bonnieplants.com/blogs/how-to-grow/growing-cucumbers</li>
                    <li>https://www.almanac.com/plant/jalapeno-peppers
                    </li>
                    <li>https://www.rhs.org.uk/vegetables/carrots/grow-your-own
                    </li>
                    <li>https://www.almanac.com/plant/carrots 
                    </li>
                    <li>https://arboretum.umd.edu/sites/default/files/collections/ESJ%20Patio%20Green%20Roof%201.jpg
                    </li>
                    <li>Research by Aggie (Ellie's English friend)</li>
                </ul>
            </div>
            <div class = "section dark">
                <p><a href = "/" style = "font-size: 1.125rem">HOME</a></p>
            </div>
        </div>
        <br>
    </body>
</html>
