html{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

body{
    background-image: url("https://arboretum.umd.edu/sites/default/files/collections/ESJ%20Patio%20Green%20Roof%201.jpg");
    background-size: cover;
}

a{
    color: #16947a;
    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-decoration-color: transparent;
    font-weight: 700;
    transition: all 0.3s ease;
}

a:hover, a:active{
    color: #18ae91;
    text-decoration-thickness: 1px;
    text-decoration-color: #18ae91;
    transition: all 0.3s ease;
    
}

.wrapper{
    width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    transition: width 0.3s ease;
    -webkit-backdrop-filter: blur(5px);
}

.header{
    width: calc(100% - 24px);
    padding: 12px;
    color: #ffffff;
    background-color: rgba(22, 148, 122, 0.875);
    cursor: default !important;
}

.section{
    width: calc(100% - 24px);
    padding: 12px;
}

.dark{
    background-color: rgba(0, 0, 0, 0.125);
}