html{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    min-height: 100%;
}

body{
    background: #a5bedc;
}

p{
    font-size: 1rem;
}

a{
    color: #16947a;
    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-decoration-color: transparent;
    font-weight: 700;
    transition: all 0.25s ease;
}

a:hover, a:active{
    color: #18ae91;
    text-decoration-thickness: 1px;
    text-decoration-color: #18ae91;
    transition: all 0.25s ease;
    
}

button{
    padding: 6px 12px;
    border: 2px solid #16947a;
    border-radius: 6px;
    background-color: #ecf0f1;
    font-size: 1rem;
    font-weight: 400 !important;
    color: #16947a !important;
    transition: all 0.25s ease;
}

button:hover{
    border: 2px solid #18ae91;
    background-color: #18ae91;
    color: #ffffff !important;
    transition: all 0.25s ease;
}

button:active{
    border: 2px solid #16947a;
    background-color: #16947a;
    color: #ffffff !important;
    transition: all 0.25s ease;
}

form{
    padding: 10px;
}

label{
    line-height: 200%;
}

input{
    font-size: 0.9rem;
    border-radius: 3px;
    border: 1px solid #bdc3c7;
    border-bottom: 2px solid #bdc3c7;
    outline: none;
    padding: 3px;
    transition: 0.25s border ease;
}

input:focus{
    border-bottom: 2px solid #18ae91;
    transition: 0.25s border ease;
}

select{
    padding: 3px 4px;
    font-size: 0.9rem;
}

li{
    line-height: 140%;
}

table{
    border: 1px solid #a3ccc3;
    border-collapse: collapse; 
}

th{
    background-color: #a3ccc3;
}

td{
    background-color: transparent;
    border: 1px solid #a3ccc3;
}

tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.06);
}

.fixedbg{
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    background-image: url('esjgarden.jpeg'); 
    background-size: cover;
    z-index: 0;
}

.wrapper{
    width: 65%;
    min-width: 340px !important;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
    z-index: 100;
    position: relative;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: width 0.25s ease;
}

.wide{
    width: 75% !important;
}

.red{
    border: 2px solid #c0392b;
    color: #c0392b !important;
    
}

.red:hover{
    border: 2px solid #e74c3c;
    background-color: #e74c3c;
}

.red:active{
    border: 2px solid #c0392b;
    background-color: #c0392b;
}

.ba{
    color: inherit !important;
    text-decoration: none !important;
    font-weight: inherit !important;
    cursor: default;
}

.header{
    width: calc(100% - 24px);
    padding: 12px;
    color: #ffffff;
    background-color: rgba(22, 148, 122, 0.875);
    cursor: default !important;
}

.section{
    width: calc(100% - 24px);
    padding: 12px;
}

.dark{
    background-color: rgba(0, 0, 0, 0.12);
}