<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Tips</title>
</head>

<body>
	<h1>General Gardening Rules</h1>
    <ul>
        <li>For greater yield/soil richness, mix your potting soil with compost before planting. Compost can be made by mixing coffee grounds, eggshells, vegetable cuttings/peelings, and other similar organic matter.
        </li>
        <li>How to start a plant from a cutting: place your cutting in a glass of water in sunlight. The water should be about 1 inch deep and should cover the stem of the plant, but not the leaves. Once roots begin to develop, transfer the cutting into soil, deep enough such that the roots are covered and the plant can stand unsupported. If you are starting a plant from a cutting instead of seeds, subtract 1.5 months from the expected waiting time for harvesting.
        </li>
        <li>Rotate the plants periodically to avoid them leaning toward the light (once per week)
        </li>
        <li>A grow light can be used if a window is not available (put a link to a grow light in a resources subcategory). Put the light on a timer to match the sun requirement of each plant.
        </li>
        <li>For all plants, pull up weeds from the soil as they appear. Trim off yellow or brown discolored leaves.
        </li>
        <li>Generally, avoid temperatures below 65 degrees Fahrenheit when growing plants. Plants will thrive in warmer temperatures, so plants can be moved outdoors in the warmer months for greater yield. Avoid extreme high temperatures (above 90 degrees Fahrenheit) for plants that are being grown indoors.
        </li>
        <li>During winter months, consider covering the soil of your plants with mulch to insulate heat. 
        </li>
    </ul>
	
    <a href = "/">Home</a>
</body>

</html>
